py_trees==2.2.3
unified-planning
unified-planning[engines] # for solving the pddl problems
networkx
neo4j
openai # you may need to upgrade this after installing it
# * see openai api change log for more info 
tiktoken
numpy
websockets
graphviz
roboticstoolbox-python
torch
fairscale
fire
sentencepiece
# scene
pymongo
