antlr4-python3-runtime==4.7
attrs==20.3.0
bleach==3.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
coverage==5.4
docutils==0.16
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
keyring==22.0.1
mccabe==0.6.1
packaging==20.9
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pydot==1.4.1
pyflakes==2.2.0
Pygments==2.7.4
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
toml==0.10.2
tqdm==4.56.1
twine==3.3.0
urllib3==1.26.3
webencodings==0.5.1
